.container{
    display:grid;
    width: 1200px;
    grid-template-columns: 1fr 2fr;
    margin: auto;
}
.item-1{
    text-align: center;
    background-color:brown;
    
}
h1{
    margin: 0 auto;
}
.right{
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

