.container{
    /* width: 1200px; */
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: auto;

    

}

.box {
    padding:10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
